<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Random Cat Image</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<main>
		<h1>Random Cat Image</h1>
		<img id="image" src="<%= catImageUrl %>" alt="<%= catImageTitle %>">
		<p class="image-title" id="image-title">
            <%= catImageTitle %>
        </p>
		<a id="change-image-button" href="/">
			<span class="material-icons">refresh</span>画像を切り替える
		</a>
	</main>
</body>

</html>
